<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="width: 1440px; height: 1024px; position: relative; background: white">
  <div style="left: 972px; top: 161px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word">Sign up or</div>
  <div onclick="window.location.href='/login/'" style="left: 1174px; top: 161px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Login</div>
  <div style="width: 280px; height: 44px; left: 984px; top: 285px; position: absolute; background: rgba(156.86, 170, 119.47, 0.48); border-radius: 9px"></div>
  <div style="width: 280px; height: 44px; left: 984px; top: 359px; position: absolute; background: rgba(156.86, 170, 119.47, 0.48); border-radius: 9px"></div>
  <div style="width: 280px; height: 44px; left: 984px; top: 433px; position: absolute; background: rgba(156.86, 170, 119.47, 0.48); border-radius: 9px"></div>
  <div style="width: 280px; height: 89px; left: 984px; top: 507px; position: absolute; background: rgba(156.86, 170, 119.47, 0.48); border-radius: 9px"></div>
  <div style="width: 280px; height: 89px; left: 984px; top: 626px; position: absolute; background: rgba(156.86, 170, 119.47, 0.48); border-radius: 9px"></div>
  <div style="left: 1014px; top: 441px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Password</div>
  <div style="left: 1014px; top: 515px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Hobbys</div>
  <div style="left: 1014px; top: 634px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">About me</div>
  <div style="width: 67px; height: 28px; left: 1014px; top: 293px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Name</div>
  <div style="left: 1014px; top: 367px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Email</div>
  <img style="width: 810px; height: 1024px; left: 0px; top: 1px; position: absolute" src="{{ url_for('static', filename='image12.png') }}" />
  <div style="width: 810px; height: 1024px; left: 0px; top: 1px; position: absolute; background: rgba(156.86, 170, 119.47, 0.48)"></div>
  <div style="width: 235px; height: 74px; left: 1007px; top: 789px; position: absolute; background: rgba(156.86, 170, 119.47, 0.48); border-radius: 9px; border: 2px #12491B solid"></div>
  <div style="width: 408px; height: 0px; left: 921px; top: 755px; position: absolute; border: 1px black solid"></div>
  <div onclick="window.location.href='/account/'" style="left: 1054px; top: 802px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word">Sign up</div>
  <div style="left: 121px; top: 455px; position: absolute; color: #12491B; font-size: 96px; font-family: Inter; font-weight: 600; word-wrap: break-word">EcoConnect</div>
  <button onclick="window.location.href='/'" style="width: 45px; height: 43px; left: 1335px; top: 60px; position: absolute; background: #12491B"></button>
</div>

</body>
</html>